{% extends "blog/base.html" %}

{% block title %}Udostępnij post{% endblock %}

{% block content %}
    <h1>Udostępnij "{{ post.title }}" przez e-mail</h1>
    <form action="." method="POST">
        {% for field in form %}
        <div class="form-group">
            <label>{{ field.label_tag }}</label> 
            {{ field }}
            <small class="form-text text-muted">{{ field.errors }}</small>
        </div>
        {% endfor %}
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Wyślij wiadomość e-mail</button>
    </form>
    <div class="modal fade" id="komunikat" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Wiadomość e-mail została wysłana</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
            <p>
            Wysłanie posta <span style="color: red">"{{ post.title }}"</span> do <span style="color: green">{{ form.to.value }}</span> zakończyło się sukcesem.
            </p>
            </div>
          </div>
        </div>
      </div>
    {% if sent %}
    <script>
    $("#komunikat").modal("show")
    $("form input, textarea").val("")
    </script>
    {% endif %}
{% endblock %}